body {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	/* background-color: #000000; */
	color: #ffffff;
	padding: 20px;
}

header h1 {
	margin: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

nav ul li a {
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

nav ul li a:hover {
	background-color: #fff5f5;
}

main {
	padding: 20px;
}
 #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 254, 254);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  } 

.banner{
    width: 100%;
    height: auto;
    /*background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.7) ), url(m);*/
    background-image: radial-gradient(circle at center center, transparent 0%,rgb(33,33,33) 99%),repeating-linear-gradient(0deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),repeating-linear-gradient(90deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(255, 255, 255));
    background-size: cover;
    background-position: center;
}
  
  .background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #3e3232;
    overflow: hidden;
    z-index: -1;
  }
  
  .background-animation::before,
  .background-animation::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    animation: animate 30s linear infinite;
  }
  
   .background-animation::after {
    background-image: url("ui.jpeg");
    animation-delay: 15s;
  } 
  
  @keyframes animate {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(2);
    }
  }

main section {
	margin-bottom: 20px;
}

footer {
	background-color: #282626;
	color: #897e7e;
	padding: 20px;
	text-align: center;
}

footer p {
	margin: 0;
}