/* *{
    text-transform: capitalize ;
}
#myFile {
    border: 1px solid black;
    background-color: #ccc;
    padding: 10px;
  } */

  body {
    font-family: Arial, sans-serif;
    background-color: #79c5de;
  }
  
  #basic {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  legend {
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  textarea {
    resize: vertical;
  }
  
  #address1 {
    height: 100px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
  }