 body {
    font-family: Arial, sans-serif;
    background-color: #79c5de;
  }

/* blob {
position: absolute;
top: 0;
left: 0;
fill: #8d0a0a;
width: 25vmax;
z-index: -1;
animation: move 10s ease-in-out infinite;
transform-origin: 50% 50%;
}
filter: drop-shadow( 4px 3px 3px rgb(63, 18, 18));

}
@keyframes move {
0%   { transform: scale(1)   translate(8px, -25px); }
38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
40%  { transform: scale(0.8, 1) translate(80vw, 20vh) rotate(160deg); }
78%  { transform: scale(1.3) translate(0vw, 20vh) rotate(-20deg); }
80%  { transform: scale(1.3) translate(0vw, 20vh) rotate(-20deg); }
100% { transform: scale(1)   translate(8px, -25px); }
/* }   */

  #basic {
    
    width: 500px;
    margin: 10 auto;
    padding: 20px;
    background-color:#ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(240, 50, 218, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  legend {
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #f2ebeb;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  textarea {
    resize: vertical;
  }
  
  #address1 {
    height: 100px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
  }